*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  

}

body {
    /*font-family: 'Poppins', sans-serif;*/

}

button{
    /*font-family: 'Poppins', sans-serif;*/

}
header{
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;

}
.logo-container,.account-icon,.sectionsBar{
    display: flex;
    
}

.logo-container{
    flex: 1;
}
.nav{
    flex: 2;
}

.account-icon{
    flex: 1;
    justify-content: flex-end;  
}
.sectionsBar{
    justify-content: space-around;
    list-style: none;
    margin-right:30px; 
    position: fixed;

}
.sectionsBar > .active{
    border-bottom: 1px solid #d36362;
    animation: drop 1s ease;
    

}

.nav-link{
    justify-content: flex-end;  
    color: #3f3f3f;
    font-size: 18px;
    text-decoration: none;
    margin-right:30px; 
    font-weight: 400;
    
}
.imgaccount{
    width: 40px;
    height: 40px;
}
.signup{
    float: left;
    margin-top: auto;
    padding-left: 5px;
    color:rgb(211,99,98);
}

.imglogo{
    width: 80px;
    height: 80px;
    float: left;
}
.logo{
    float: left;
    margin-top: 30px;
    color:rgb(211,99,98);

}
.presentation-1{
    display: flex;
    margin: auto;
    align-items: center;
    height: 100vh;

}

.presentation-2{
    display: flex;
    margin: auto;
    align-items: center;
    height: 100vh;
    

}

.presentation-3{
    display: flex;
    margin: auto;
    align-items: center;
    height: 100vh;
    
}
.introduction{
    flex: 1;
}

.intro-text{
    background: linear-gradient(to right,#e0881d,#d36362);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-left: 100px; */
    min-width: 700px;

}
.intro-text p{
    margin-top: 5px;
    color: #3f3f3f;
    font-size: calc(10px + 2vmin);

}
.intro-text h1{
    margin-top: 5px;
    color: #3f3f3f;
    font-size: calc(40px + 2vmin);
    

}
.intro-text-2{
    background: linear-gradient(to right,#e0881d,#d36362);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-left: 100px; */
    min-width: 700px;

}

.intro-text-2 p{
    margin-right: 200px;
    
    margin-top: 5px;
    color: #3f3f3f;
    font-size: calc(10px + 2vmin);
   

}
.intro-text-2 h1{
    padding-top: 200px;
    margin-right: 180px;
    margin-top: 5px;
    color: #3f3f3f;
    font-size: calc(40px + 2vmin);
    
    

}

.cta{
    padding: 50px 0px 0px 100px;
}

.cta-select{
    border: 2px solid #d36362;
    background: transparent;
    color: #d36362;
    width: 150px;
    height: 50px;
    cursor: pointer;
    
}

.cta-add,.FormField__Button{
    background: #d36362;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    margin: 30px 0px 0px 30px;
}
.cover-1,.cover-2,.cover-3{
    flex: 1;
}

.cover-2 img{
    
    /* animation: drop 1.5s ease; */
    animation: spin  infinite 80s linear ;
    height: 600px;
    margin: 0px;
    float: left;
    
  

    /*filter: drop-shadow(0px 5px 3px black);*/
}

.cover-1 img{
    
    animation: drop 3s ease;
    right: 500px;

    /*filter: drop-shadow(0px 5px 3px black);*/
}
.cover-3 img{
    animation-duration: 1s;
    animation-name: slidein;
}
.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 80%;
}
.med-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.4;
}
.sm-circle {
	position: absolute;
	bottom: 0%;
	left: 20%;
	z-index: -1;
}

/* Formulaire*/
.Formulaire{
    /*font-family: 'Poppins', sans-serif;*/
}

.FormFields {
    margin-top: 20px;
}
.FormField {
    margin-bottom: 40px;
  }
  
  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: #d36362;
  }
  .FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: #3f3f3f;
    outline: none;
    border-bottom: 1px solid #e0881d;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .FormField__Input::placeholder {
    color: #616E7F;
  }
  
 
  
  .FormField__Link {
    color: #3f3f3f;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #d36362;
    padding-bottom: 5px;
    margin: 30px 0px 0px 30px;
  }
  
  .FormField__CheckboxLabel {
    color: #3f3f3f;
    font-size: .9em;
  }
  
  .FormField__Checkbox {
    position: relative;
    top: 1.5px;
  }
  .FormField__TermsLink {
    color: #3f3f3f;
    border-bottom: 1px solid #d36362;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }
  @keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 25%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
@media screen and (max-width: 1024px) {

	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
	}
	.small-circle,
	.medium-circle,
	.big-circle {
		opacity: 0.2;
    }
    .cover-1 img,.cover-2 img,.cover-3 img{
        position: inherit;
    }
}
